
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  justify-content:center;
  background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size:100vw;
  font-size:18px;
  width: 100%;
  min-height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
